body{
    font-family: 'Luxurious Script', cursive;
    margin:0;
 
}

h1{
     font-size: 50px;
  }
  
h2{
				font-size: 40px;
}

p{
				color:dimgray;
}
.name{
    color: blue;
    margin: 0;
    padding-bottom: 2em;
    padding-left: 1em;
}

.box{
        width:40%;
        float:left;
        margin-left:5%;
        padding-left:2%;    
}

.box img{
        width: 100%;
}

.top_banner{
                background-image:url("image.jpg");
              height:600px; 
             
                    
}

.button{
				text-decoration: none;
				background-image: linear-gradient(45deg,navy,skyblue);
				color:white;
				padding:10px 30px;
				border-radius: 10px;
}

.dream{
 background-image:url("image.jpg");
              height:600px; 
              
}

.favorite{
				box-shadow:10px 10px 40px grey;
				border-radius: 10px;
				height:40% ;


}

.wish{
 background-image:url("image.jpg");
              height: 600px ;

 }
 
#like{
				border-left: 7px solid;
				border-image: linear-gradient(navy,skyblue);
				border-image-slice: 1;
}

.favorite{
				border-left: 7px solid;
				border-image: linear-gradient(skyblue, purple);
				border-image-slice: 1;
}


.wish h2{
				text-alieng: center;
}
